server:
  port: 8888

spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  data:
    r2dbc:
      repositories:
        enabled: true
  jpa:
    open-in-view: false
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: update

application:
  base:
    uri: http://localhost:8888/url/%s

hazelcast:
  cache:
    expiration: 300 #minutes
    response-cache: shortener-response-cache
    url-cache: shortened-url-cache


countryidentifier:
    ip-stack-api-key: 442464b9ca980cfab3858d8356e8dc88
    ip-stack-uri: http://api.ipstack.com/%s?access_key=%s
