name: CI

on:
  workflow_call:
    inputs:
      application_name:
        required: true
        type: string
      application_path:
        required: true
        type: string

env:
  APPLICATION_NAME: ${{ inputs.application_name }}
  APPLICATION_PATH: ${{ inputs.application_path }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean install
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
          context: $APPLICATION_PATH
          file: $APPLICATION_PATH/Dockerfile
          push: true
          args:
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/$APPLICATION_NAME:${{github.run_number}}
            ${{ secrets.DOCKERHUB_USERNAME }}/$APPLICATION_NAME:latest
          build-args: |
            SPRING_PROFILES_ACTIVE=prod
            COUNTRYIDENTIFIER_IP_STACK_API_KEY=${{ secrets.IP_STACK_API_KEY }}
            COUNTRYIDENTIFIER_IP_STACK_API_URI=${{ secrets.IP_STACK_API_URI }}
            SPRING_DATASOURCE_URL=${{ secrets.SPRING_DATASOURCE_URL }}
            SPRING_DATASOURCE_USERNAME=${{ secrets.POSTGRES_USER }}
            SPRING_DATASOURCE_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
