name: Metrics Service Ci

on:
  push:
    branches: [ "master" ]
    paths:
      - 'metrics-service/**'
      - 'pom.xml'


jobs:
  build:
    uses: ./.github/workflows/ci.yml
    with:
      application_name: metrics-service
      application_path: ./metrics-service/metric-container