name: Shortener Service Ci

on:
  push:
    branches: [ "master" ]
    paths:
      -'shortener-service/**'
      -'pom.xml'

jobs:
  build:
    uses: ./github/workflows/ci.yml
    with:
        application_name: shortener-service
        application_path: ./shortener-service/shortener-container